/* CART SECTION */
.cart-section {
  padding: 80px 64px;
}

.cart-section h1 {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 16px;
}

.cart-text {
  font-size: 18px;
}

.cart-subtext {
  margin-top: 6px;
  color: #555;
}

.cart-btn {
  margin-top: 24px;
  padding: 14px 32px;
  border: 1px solid #111;
  background: transparent;
  font-weight: 600;
  cursor: pointer;
}

/* RECOMMENDED SECTION */
.recommended-section {
  padding: 80px 64px;
}

.recommended-section h2 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* PRODUCT CARD */
.product-card img {
  width: 100%;
  margin-bottom: 16px;
}

.product-card h3 {
  font-size: 18px;
  margin: 10px 0;
}

.color {
  color: #555;
  font-size: 14px;
}

.rating {
  font-size: 14px;
  margin: 6px 0;
}

.rating span {
  color: #555;
}

.price {
  font-size: 18px;
  font-weight: 700;
}
.add-cart-btn {
  margin-top: 14px;
  width: 100%;
  padding: 12px 16px;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add-cart-btn:hover {
  background-color: #fff;
  color: #090808;
}

