.explore-menu {
  position: fixed;
  top: 70px; /* height of navbar */
  left: 0;
  width: 100vw;
  height: 420px;
  background: white;
  display: flex;
  z-index: 9999;
}


/* LEFT */
.explore-left {
  width: 35%;
  padding: 60px 80px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.explore-left p {
  font-size: 18px;
  cursor: pointer;
}

.explore-left p:hover {
  text-decoration: underline;
}

/* RIGHT */
.explore-right {
  width: 65%;
  overflow: hidden;
}

.explore-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
